
torch>=2.0.0
numpy==1.26.4
pandas
scipy
scikit-learn
tqdm
wfdb
joblib
matplotlib
seaborn
packaging
huggingface_hub
neurokit2
iterative-stratification
thop
flatten_dict
mamba-ssm
causal-conv1d>=1.2.0
